* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px black;
}
.container .left {
  position: relative;
  background-color: black;
  padding: 40px;
}
.container .right {
  position: relative;
  background-color: white;
  padding: 40px;
}
.profiletext {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid mediumorchid;
}
.profiletext .profileimg {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
}
.profiletext .profileimg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profiletext h2 {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profiletext span {
  font-size: 0.7em;
  font-weight: 300;
}
.info {
  padding: 40px;
}
.title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}
.info ul {
  position: relative;
}
.info ul li {
  display: flex;
  position: relative;
  list-style: none;
  margin: 10px 0;
}
.info ul li .icon {
  width: 30px;
  font-size: 20px;
  color: mediumorchid;
}
.info ul li span {
  color: white;
  font-weight: 200;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: darkmagenta;
}
.info.education li {
  display: block;
  margin-bottom: 15px;
}
.info.education h5 {
  color: mediumorchid;
  font-weight: 500;
}
.info.education h4:nth-child(2) {
  color: white;
  font-weight: 500;
}
.info.education h4 {
  color: white;
  font-weight: 300;
}
.info.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: beige;
  display: block;
  margin-top: 5px;
}
.info.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: mediumorchid;
}
.about {
  margin-bottom: 50px;
}
.about:last-child {
  margin-bottom: 0;
}
.title2 {
  color: mediumorchid;
  text-transform: uppercase;
  margin-bottom: 10px;
}
p {
  color: black;
}
.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.about .box .year_company {
  min-width: 150px;
}
.about .box .year_company h5 {
  text-transform: uppercase;
  color: gray;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: gray;
  font-size: 16px;
}
.skills {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.skills .box h4 {
  text-transform: uppercase;
  padding: 10px;
  color: black;
  font-weight: 500;
  border: mediumorchid 1px solid;
  border-radius: 50px;
}

.interest ul li {
  list-style-type: none;
  color: white;
  font-weight: 500;
  margin: 12px 0;
}
.interest ul li .icon {
  color: mediumorchid;
  font-size: 18px;
  width: 35px;
}
@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .about .box.year_company {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
